<div class="alert alert-block alert-secondary dropdown-item ">
    <p>
        <i class="icon-mail{% if notice.unread %}-alt{% endif %}"></i>

        <a href="">{{ notice.actor }}</a>
        {{ notice.verb }}
        {% if notice.target %}
        <a href="">{{ notice.target }}</a>
        {% endif %}
    </p>
    {{ notice.timesince }} ago
    {{ notice.description|linebreaksbr }}

    <div class="notice-actions">
        {% for action in notice.data.actions %}
        <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
        {% endfor %}
    </div>
    {% if notice.unread %}
    <a class="" pk={{ notice.slug}} href="" onclick="markRead(this); return false;">
        Mark as read <i class="icon-close"></i>
    </a>
    {% else %}
    <a class="" pk={{ notice.slug}} href="" onclick="markUnRead(this); return false;">
        mark as unread <i class="icon-close"></i>
    </a>
    {% endif %}
</div>