<div class="alert alert-block alert-info ">
    <p class="text">
        <a href="">{{ notice.actor }}</a>
        {{ notice.verb }}
        {% if notice.target %}
        <a href="">{{ notice.target }}</a>
        {% endif %}
        <span class="timesince">{{ notice.timesince }} ago</span> 
    </p>
    {{ notice.description|linebreaksbr }}
    {% if notice.data.actions %}
    <div class="notice-actions">
        {% for action in notice.data.actions %}
        <a class="btn" href="{{ action.href }}">{{ action.title }}</a>
        {% endfor %}
    </div>
    {% else %}
    {% endif %}

    {% if notice.unread %}
    <a class="" pk={{ notice.slug}} href="" onclick="markRead(this); return false;">
        Mark as read <i class="icon-close"></i>
    </a>
    {% else %}
    <a class="" pk={{ notice.slug}} href="" onclick="markUnRead(this); return false;">
        mark as unread <i class="icon-close"></i>
    </a>
    {% endif %}
</div>