.note{
    margin-left: -25px;
    margin-right: 12px;
}
  .notification .badge {
    position: absolute;
    top: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
/* dropdwon arrow */
.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}
#notifications{
max-width: 350px;
min-width: 350px !important;
}
.timesince{
    color: rgb(63, 173, 247);
    font-weight: 300;
}

.text{
    margin-bottom: 0em !important;
}